{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Título | {% block title %}Inicio{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'recetas/css/vendor.css' %}">
        <link rel="stylesheet" id="theme-style" href="{% static 'recetas/css/app.css' %}">
        <link rel="stylesheet" href="{% static 'recetas/css/notify.min.css' %}">
        <link rel="stylesheet" href="{% static 'recetas/css/base.css' %}">
    </head>
    <body>
        <div class="main-wrapper">
            <div class="app" id="app">
                <header class="header">
                    <div class="header-block header-block-collapse d-lg-none d-xl-none">
                        <button class="collapse-btn" id="sidebar-collapse-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <div class="header-block header-block-search w-100">
                        <form role="search" class="w-100">
                            <div class="input-container">
                                <input type="search" class="bg-light mw-100 w-50 pl-1" placeholder="Búsqueda">
                                <button class="btn btn-success fa fa-search"></button>
                                <div class="underline"></div>
                            </div>
                        </form>
                    </div>
                    <div class="header-block header-block-nav">
                        <ul class="nav-profile">
                            {% if user.is_authenticated %}
                            <li class="profile dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="name">{{ user.username }}</span>
                                </a>
                                <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-user icon"></i> algo </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/cuenta/logout">
                                        <i class="fa fa-sign-out icon"></i> Salir </a>
                                </div>
                            </li>
                            {% else %}
                            <li class="notifications new">
                                <a href="/cuenta/login">
                                    <i class="fa fa-lock"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </header>
                <aside class="sidebar">
                    <div class="sidebar-container">
                        <div class="sidebar-header">
                            <div class="brand">
                                <div class="logo">
                                    <span class="l l1"></span>
                                    <span class="l l2"></span>
                                    <span class="l l3"></span>
                                    <span class="l l4"></span>
                                    <span class="l l5"></span>
                                </div> Título </div>
                        </div>
                        <nav class="menu">
                        {% include 'recetas/sidebar.html'%}
                        </nav>
                    </div>
                    <footer class="sidebar-footer">
                        <ul class="sidebar-menu metismenu" id="customize-menu">
                            <li class="text-center">
                                <a><i class="fa fa-fire"></i> <span class=""> v.0.3</a>
                            </li>
                        </ul>
                    </footer>
                </aside>
                <div class="sidebar-overlay" id="sidebar-overlay"></div>
                <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
                <div class="mobile-menu-handle"></div>
                <article class="content dashboard-page">
                    <div class="title-block">
                        <h1 class="title">{% block titulo %}{% endblock %}</h1>
                    </div>
                    <section class="section">
                        <div class="row sameheight-container">
                        {% block container %}{% endblock %}
                        </div>
                    </section>
                </article>
                <footer class="footer">
                    <div class="footer-block buttons"></div>
                    <div class="footer-block author">
                        <ul>
                            <li><a>Título</a></li>
                            <li><a>Derechos</a></li>
                        </ul>
                    </div>
                </footer>

                <!-- Modal -->
                <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                    <div class="modal-dialog{% if modal_lg %} modal-lg{% endif %}" role="document">
                        <div class="modal-content">
                            <div id="ModalHeader" class="modal-header rounded-0">
                                <h5 class="modal-title" id="ModalLabel">título modal</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="modalContenido"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnAceptar" class="btn btn-success">Aceptar</button>
                                <button type="button" id="btnCancelar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Reference block for JS -->
        <div class="ref" id="ref">
            <div class="color-primary"></div>
            <div class="chart">
                <div class="color-primary"></div>
                <div class="color-secondary"></div>
            </div>
        </div>
        <script src="{% static '/recetas/js/vendor.js' %}"></script>
        <script src="{% static '/recetas/js/app.js' %}"></script>
        <script src="{% static '/recetas/js/lib.js' %}"></script>
        <script src="{% static '/recetas/js/jquery-notify.min.js' %}"></script>
        <script>
            $('[data-toggle="tooltip"]').tooltip();
        {% if messages %}
            {% for message in messages %}
                $.notify.create("{{ message }}", { displayTime: 1500, sticky: false, appendTo: '.header', style: 'box', notifyClass: 'm-2 p-3', type: '{{ message.tags }}', closeText: '' });
            {% endfor %}
        {% endif %}
        </script>
        {% block js %}{% endblock %}
    </body>
</html>
