{% extends 'recetas/base.html'%}

{% block title%}Alimentos{% endblock %}

{% block titulo%}
    Listado de Alimentos
    {% if user.is_authenticated %}
    <button class="btn btn-primary btn-sm float-right mb-2" data-toggle="modal" data-target="#Modal" onclick="urlModal('{% url 'elemento_nuevo' url=elemento_entidad %}', 'Nuevo Elemento')" class="top-menu"><i class="fa fa-plus-square"></i> Añadir {{ entidad }}</button>
    {% endif %}
{% endblock %}

{% block container %}
    {% if lista %}
        <table class="table table-sm table-hover table-responsive-sm text-capitalize">
            <thead>
                <tr>
                    <th scope="col">Alimentos</th>
                    <th scope="col">Sabor</th>
                    <th scope="col">Textura</th>
                    <th scope="col" class="col-2"></th>
                </tr>
            </thead>
            <tbody>
            {% for alimento in lista %}
                <tr>
                    <td>{{ alimento.tnombre }}</td>
                    <td>{{ alimento.csabor|default_if_none:"" }}</td>
                    <td>{{ alimento.ctextura|default_if_none:"" }}</td>
                    <td class="text-right">
                    {% if user.is_authenticated %}
                        <button role="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#Modal" onclick="urlModal('{% url 'elemento_edit' url=elemento_entidad cid=alimento.cid %}', 'Editar')"><i class="fa fa-pencil-square"></i></button>
                        <button role="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#Modal"  onclick="urlModal('{% url 'elemento_del' url=elemento_entidad cid=alimento.cid %}','Eliminar {{ e.tnombre }}')"><i class="fa fa-minus-square"></i></button>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul class="pagination">
        {% if lista.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&Lang;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ lista.previous_page_number }}">&lang;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="">&Lang;</a></li>
            <li class="page-item disabled"><a class="page-link" href="">&lang;</a></li>
        {% endif %}

        <li class="page-item"><a class="page-link">Página {{ lista.number}} de {{ lista.paginator.num_pages }}</a></li>

        {% if lista.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ lista.next_page_number }}">&rang;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ lista.paginator.num_pages }}">&Rang;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="">&rang;</a></li>
            <li class="page-item disabled"><a class="page-link" href="">&Rang;</a></li>
        {% endif %}
        </ul>
    {% else %}
        <div class="alert alert-warning" role="alert">
            No hay alimentos disponibles.
        </div>
    {% endif %}
{% endblock %}
