<ul class="sidebar-menu metismenu" id="sidebar-menu">
    <li class="{% if request.path == '/' %}active{% endif %}">
        <a href="/">
            <i class="fa fa-home"></i>Inicio</a>
    </li>
    <li class="{% if lvl == 0 %}active open{% endif %}">
        <a href="">
            <i class="fa fa-puzzle-piece"></i>Elementos Base
            <i class="fa arrow"></i>
        </a>
        <ul class="sidebar-nav">
            <li class="{% if request.path == '/e/alimentos' %}active{% endif %}"><a href="{% url 'elementos' url='alimentos' %}">Alimentos</a></li>
            <li class="{% if request.path == '/e/sabores' %}active{% endif %}"><a href="{% url 'elementos' url='sabores' %}">Sabores</a></li>
            <li class="{% if request.path == '/e/texturas' %}active{% endif %}"><a href="{% url 'elementos' url='texturas' %}">Texturas</a></li>
            <li class="{% if request.path == '/e/tecnicas' %}active{% endif %}"><a href="{% url 'elementos' url='tecnicas' %}">Técnicas</a></li>
            <li class="{% if request.path == '/e/tipos-ingrediente' %}active{% endif %}"><a href="{% url 'elementos' url='tipos-ingrediente' %}">Tipos de Ingrediente</a></li>
            <li class="{% if request.path == '/e/categorias-ingrediente' %}active{% endif %}"><a href="{% url 'elementos' url='categorias-ingrediente' %}">Categorías de Ingrediente</a></li>
            <li class="{% if request.path == '/e/tipos-corte' %}active{% endif %}"><a href="{% url 'elementos' url='tipos-corte' %}">Tipos de Corte</a></li>
        </ul>
    </li>
    <li class="{% if lvl == 1 %}active open{% endif %}"">
        <a href="{% url 'elementos' url='ingredientes' %}">
            <i class="fa fa-leaf"></i>Ingredrientes
        </a>
    </li>
    <li class="{% if lvl == 2 %}active open{% endif %}"">
        <a href="">
            <i class="fa fa-cutlery"></i>Recetas
            <i class="fa arrow"></i>
        </a>
        <ul class="sidebar-nav">
            <li class="{% if request.path == '/e/recetas-simples' %}active{% endif %}"><a href="{% url 'elementos' url='recetas-simples' %}">Simples</a></li>
            <li class="{% if request.path == '/e/recetas-compuestas' %}active{% endif %}"><a href="{% url 'elementos' url='recetas-compuestas' %}">Compuestas</a></li>
        </ul>
    </li>
</ul>
