<ul class="list-group">
    <li class="list-group-item"><a href="{% url 'elementos' url='ingredientes' %}">Ingredientes</a></li>
    <li class="list-group-item"><a href="{% url 'elementos' url='sabores' %}">Sabores</a></li>
    <li class="list-group-item"><a href="{% url 'elementos' url='texturas' %}">Texturas</a></li>
    <li class="list-group-item"><a href="{% url 'elementos' url='tecnicas' %}">Técnicas</a></li>
    <li class="list-group-item"><a href="{% url 'elementos' url='tipos-corte' %}">Tipos de Corte</a></li>
    <li class="list-group-item"><a href="{% url 'elementos' url='tipos-ingrediente' %}">Tipos de Ingrediente</a></li>
    <li class="list-group-item"><a href="{% url 'elementos' url='categorias-ingrediente' %}">Categoría de Ingrediente</a></li>
</ul>
